div.header-component{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: "navbar"
                         "player";
    grid-gap: 5px;
    position: fixed;
    min-width: 100%;
    max-width: 100%;
    min-height: 20%;
    max-height: 20%;
    color: teal;
    font-size: x-large;
}

div.navbar{
    display: grid;
    grid-area: navbar;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-template-areas: "links search";
    background-color: white;
    border-bottom: purple solid 1px;
}

div.links{
    display: grid;
    grid-area: links;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    justify-items: left;
    align-items: center;
    font-size: large;
}

div.search{
    display: grid;
    grid-area: search;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    align-content: center;
}

div.player{
    display: grid;
    grid-area: player;
    min-width: 50%;
    max-width: 50%;
    justify-self: center;
    background-color: transparent;
    border: navy solid;
    border-radius: 5px;
}

div.slide-menu{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    justify-content: stretch;
    align-content: stretch;
    position: fixed;
    min-width: 20%;
    max-width: 20%;
    min-height: 101%;
    max-height: 101%;
    z-index: 1000;
    top: 70px;
    background-color: teal;
    color: white;
    font-size: x-large;
}

div.mobile-home{
    display: grid;
    justify-items: center;
    align-items: center;
}

div.mobile-about{
    display: grid;
    justify-items: center;
    align-items: flex-start;
}

span.generic-navbar{
    cursor: pointer;
}

i.mobile-navbar{
    font-size: xx-large;
}

span.logo{
    font-size: xx-large;
}

@media screen and (max-width: 769px){

    div.header-component{
        min-height: 150px;
        max-height: 150px;
        grid-gap: 0px;
    }

    div.player{
        max-width: 100%;
        min-width: 100%;
        justify-items: stretch;
        align-items: stretch;
    }
}