div.player-component{
    display: grid;
    grid-template-columns: 1fr 5fr 5fr;
    grid-template-rows: 1fr;
    justify-items: stretch;
    align-items: center;
    grid-gap: 20px;
    border: purple solid;
    background-position: center;
    background-size: cover;
}

i.player{
    color: teal;
    border: none;
    font-size: xx-large;
}

.volume{
    -webkit-appearance: none;
    background-color: teal;
    border-radius: 10px;
    cursor: not-allowed;
    pointer-events: none;
}

.volume::-webkit-slider-thumb{
    -webkit-appearance: none;
    appearance: none;
    background-color: snow;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    cursor: pointer;
    pointer-events: auto;
}

.timer{
    -webkit-appearance: none;
    background-color: teal;
    border-radius: 10px;
    pointer-events: auto;
}

.timer::-webkit-slider-thumb{
    -webkit-appearance: none;
    appearance: none;
    background-color: snow;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    cursor: pointer;
    pointer-events: auto;
}